@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease-out, transform 1s ease-out;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }

.font-noto-serif {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
  }


  
.font-montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }